@model List<UserOrderListDto>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th></th>
                        <th>Tarih</th>
                        <th>Ürün Adı</th>
                        <th>Adeti</th>
                        <th>Fiyatı</th>
                    </tr>
                </thead>
                @foreach (var product in Model)
                {
                    <tbody>
                        <tr>
                            <td></td>
                            <td>@product.OrderDate</td>
                            <td>@product.Name</td>
                            <td>@product.Quantity</td>
                            <td>@product.Price</td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>
